<div class="container">
  <div class="row">
    <h4 class="col-10">商品一覧</h4>
    <button class=" btn btn-light rounded-circle shadow-sm bg-white rounded">
      <h4>
        <%= link_to "＋", new_admin_item_path, class: "text-secondary" %>
      </h4>
    </button>
  </div>
  <div class="row mt-4">
      <table class="table table-borderless col-12">
        <thead class="thead-light">
          <tr>
            <th class="mx-auto">商品ID</th>
            <th class="mx-auto">商品名</th>
            <th class="mx-auto">税抜価格</th>
            <th class="mx-auto">ジャンル</th>
            <th class="mx-auto">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%=link_to admin_item_path(item.id) do %><%= item.name %><% end %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <% if item.is_active %>
                <td class="text-success">販売中</td>
              <% else %>
                <td class="text-secondary fw-bold">販売停止中</td>
              <% end %>
            </tr>
            <!--delete-->
            <tr><th><%= link_to "delete", admin_item_path(item.id), method: :delete %></th></tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center"><%= paginate @items %></div>
  </div>
</div>
