<h4>商品一覧</h4>
<div class="container">
  <div class="row">
    <div class="col-10">
      <table>
        <thead>
          <tr>
            <th class="col-2">商品ID</th>
            <th class="col-2">商品名</th>
            <th class="col-2">税抜価格</th>
            <th class="col-2">ジャンル</th>
            <th class="col-2">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="col-2"><%= item.id %></td>
              <td class="col-2"><%= item.name %></td>
              <td class="col-2"><%= item.price %></td>
              <td class="col-2"><%= item.genre.name %></td>
              <td class="col-2"><%= item.is_active %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>