<div class="container">
  <div class="row">
    <div class="col-2">
      <table class="table table-borderless border border-dark">
        <thead>
          <tr>
            <th class="border border-dark">ジャンル検索</th>
          </tr>
        </thead>
        <% @genre.each do |g| %>
          <tbody>
            <tr>
              <td><%= link_to g.name, "", class: "text-dark" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-10">
      <div class="card">
        <%= image_tag 'main_02.jpg' %>
        <div class="card-img-overlay">
          <p class="text-dark main-text">ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります
          </p>
        </div>
      </div>
      <h2 class="my-4"><strong>新着商品</strong></h2>
      <div class="row">
    <% @items.first(4).each do |item| %>
      <div class="col-3">
        <div class="card mx-aut" style="width: 15rem;">
          <%= link_to item_path(item.id), class: "card-body text-dark" do %>
            <p><%= image_tag item.image, size: "200x150", class: "card-image-top" %></p>
            <p><strong><%= item.name %></strong></p>
            <p><strong>￥<%= item.price.to_s(:delimited)  %></strong></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="h5 float-right p-5 mb-5">
    <%=link_to "全ての商品を見る >", items_path %>
  </div>
</div>
