<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>ショッピングカート</h4>
    </div>
    <div class="col-5">
      <%= link_to "カートを空にする", cart_items_destroy_all_customers_path, method: :delete, class: "btn btn-danger px-4 float-right" %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%  @cart_item.each do |ci| %>
            <tr>
              <td>
                <%= image_tag ci.item.image, size: "80x50", class: "mr-4" %>
                <strong><%= ci.item.name %></strong>
              </td>
              <td>
                <%= ci.item.with_tax_price.to_s(:delimited) %>
              </td>
              <%= form_with model: @cart_item, url: customers_cart_item_path(ci.id), method: :patch do |f| %>
                <td>
                  <%= f.hidden_field :item_id, :value => ci.item_id %>
                  <%= f.hidden_field :customer_id, :value => ci.customer_id %>
                  <%= f.select :amount, *[1..10], {selected: ci.amount} %><%= f.submit "変更", class: "ml-3 btn btn-success" %>
                </td>
              <% end %>
              <td><%= ci.subtotal.to_s(:delimited) %></td>
              <td><%= link_to "削除する", customers_cart_item_path(ci.id), method: :delete, class: "btn btn-danger px-3" %></td>
              
              <% @ci_all_price += ci.subtotal %>
              
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <%= link_to "買い物を続ける", "/", class: "btn btn-primary" %>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
          <table class="table table-bordered">
            <tr>
              <th class="bg-light">合計金額</th>
              <th><%= @ci_all_price.to_s(:delimited) %></th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-4">
          <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success px-4" %>
        </div>
      </div>
    </div>
  </div>
</div>

