<h4 class="m-5">注文履歴詳細</h4>
<div class="container">
  <div class="row">
    <div class="col-6">
      <span class="h5">注文情報</span>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>注文日</th>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th>配送先</th>
              <td>
                〒<%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %><br>
              </td>
            </tr>
            <tr>
              <th>支払方法</th>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <th>ステータス</th>
              <td><%= @order.status_i18n %></td>
            </tr>
          </thead>
        </table>
    </div>
      <div class="col-6">
        <span class="h5">請求情報</span>

          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>商品合計</th>
                <td><%= ((@order.total_payment - 800).to_s(:delimited)) %></td>
              </tr>
              <tr>
                <th>送料</th>
                <td><%= @order.shipping_cost %></td>
              </tr>
              <tr>
                <th>ご請求額</th>
                <td><%= @order.total_payment.to_s(:delimited) %></td>
              </tr>
            </thead>
          </table>

      </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @orders.each do |order| %>
          <tbody>
            <tr>
              <td><%= order.item.name %></td>
              <td><%= order.purchase_price %></td>
              <td><%= order.quantity %></td>
              <td><%= order.purchase_price * order.quantity %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
