<div class="container">
  <div class="row">
    <div class="col-2">
      <table class="table table-borderless border border-dark">
        <thead>
          <tr>
            <th class="border border-dark">ジャンル検索</th>
          </tr>
        </thead>
        <% @genre.each do |g| %>
          <tbody>
            <tr>
              <td><%= link_to g.name, "", class: "text-dark" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-4">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
    <div class="col-6">
      <h4><strong><%= @item.name %></strong></h4>
      <p class="mt-4"><%= @item.introduction %></p>
      <p class="mt-5"><strong class="h4">￥ <%= @item.price.to_s(:delimited) %></strong>(税込)</p>

      <%= form_with model: @cart_item, url: customers_cart_items_path, method: :post, class: "mt-4" do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :customer_id, :value => @customer.id %>
        <%= f.select :amount, *[1..10], { include_blank: '個数選択 '} %>
        <%= f.submit "カートに入れる", class: "btn btn-success mx-5" %>
      <% end %>

    </div>
  </div>
</div>

